ion-card-header,
h1 {
    text-align: center;
    font-weight: bold;
}

ion-card {
    margin-bottom: 30px;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-content ion-button {
    font-size: 12px;
    border-radius: 12px;
    font-weight: bold;
}

.item-content ion-text {
    margin-left: auto;
    font-weight: 500;
}

.btn-ativo {
    --background: #4caf50;
    --color: white;
}

.btn-inativo {
    --background: #f44336;
    --color: white;
}

.btn-ausente {
    --background: #ff9800;
    --color: white;
}

.ionic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

.ionic-table th,
.ionic-table td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #3880ff;
    color: #fff;
    border-radius: 50%;
    margin-right: 8px;
    font-weight: bold;
    font-size: 16px;
}

.status {
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

.status.ativo {
    color: #10dc60;
    border: 1px solid #10dc60;
}

.status.inativo {
    color: #f04141;
    border: 1px solid #f04141;
}

.status.ausente {
    color: #ffce00;
    border: 1px solid #ffce00;
}